---
import Layout from '../layouts/Layout.astro';
import Bakers from '../components/Bakers.astro';

import '../styles/reset.css';
import '../styles/main.css';
---

<Layout title='GBBO 2023'>
	<header>
		<div class='wrapper stack'>
			<hgroup
				class='flow-vertical'
				role='group'
				aria-roledescription='Heading group'
			>
				<h1>GBBO 2023</h1>
				<p aria-roledescription='subtitle'>
					Keep track of the bakers, find out more about them, who won
					star baker, and the theme for each week.<br />Mary Berry ✊.
				</p>
			</hgroup>

			<h2>Week three: It's the big one, bread Week 🦁</h2>
		</div>
	</header>

	<main>
		<div class='wrapper stack'>
			<Bakers />
		</div>
	</main>

	<footer>
		<div class='wrapper'>
			<p>
				Something pointless from <a
					href='https://jamesbateson.co.uk/'
					rel='noreferrer'>James Bateson</a
				>.
			</p>
			<p>
				All assets and copy from <a
					href='https://thegreatbritishbakeoff.co.uk/'
					rel='noreferrer'>the official Great British Bake Off site</a
				>. Please don't sue my soggy bottom.
			</p>
		</div>
	</footer>
</Layout>
